*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/resnet18_traced.ptl
/app/src/main/assets/resnet34_traced.ptl
/app/src/main/assets/resnet101_traced.ptl
/app/src/main/assets/mobilenet_v3_small.ptl
